.locais-container{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.list_of_places{
    flex: 1;
    padding: 10px;
    height: 100%;
}
.individual_place{
    padding: 15px;
    border: 1px solid #00000040;
    border-radius: 14px;
    background: #fff;
    box-shadow: 1px 1px #00000040;
    cursor: pointer;
}
.individual_place:hover{
    background: #efefef;
}